<!DOCTYPE html>
<html>
  <head>
    <title>Galaxy Movie</title>
    <%= csrf_meta_tags %>
	
	<link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-0.8.1.min.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
